<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
#mdiv{
    background-color: white;
    border: black;
    border: 1px solid black;
}
#divg{
    background-color: green;
   
    border: black;
    height: 100px;
    width: 100%;
    

}

#divb
{
    background-color: blue;
    width:30%;
    height: 300px;
    border: black;
float:left

}
#divo{
    background-color: orange;
    width: 100%;
    height:300px;
border: black;
  

}
#divr{
    background-color: red;
    width: 100%;
    height: 100px;
}
</style>
<body>
  <div id=mdiv>
       <div id=divg>
  
       <hr>
       </div>
       <div>
           <div id=divb>
            
           </div>
           <div id=divo>
          
           </div>
           <div id=divr>

           </div>

           
       </div>
    </div>

</body>
</html>